.parameters {
  display: flex;
  justify-content: space-between;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__heading {
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 5px;
  }
  &__unit {
    font-size: 1rem;
    color: rgb(185, 185, 185);
  }
  &__input {
    text-align: center;
    font-size: 1.2rem;
    padding: 14px 10px 8px;
    max-width: 100px;
    border: 1px solid rgb(11, 158, 97);
    border-radius: 5px;
    cursor: pointer;
  }

  &__input:focus::placeholder {
    color: transparent;
  }
  &__input::placeholder {
    font-size: 1.2rem;
    color: rgb(185, 185, 185);
  }

  &__input:focus,
  &__input:active {
    border: 1px solid rgb(228, 224, 17);
  }
}
